* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Inter", sans-serif;
}
/* SEMPRE COMEÇAR COM ESSE PADRÃO ( * ) */

body {
    background: #09090b; /* cor de fundo */
    color: #e4e4e7;  /*cor das letras */
    padding: 40px; /* padding - preenchimento */
    display: flex; /*Mostra os itens - habilita super poderes*/
    flex-direction: column; /*Mostra os itens em colunas*/
    align-items: center; /*Alinha os itens ao centro*/
}

h1 {
    font-size: 40px; /* Tamnho da fonte */
    color: #fafafa;
    font-weight: bold; /* Grossura da fonte * /* bold - Negrito */
    
}

span{
    color: #00e2f7;
}

p {
    color: #717171;
    margin: 10px;
}

 
textarea {
    resize: none;  /* resize - redimensionar */
    width: 100%; /* width - largura */
    max-width: 640px;
    padding: 16px; /* padding - preenchimento */
    border-radius: 10px; /* border-radius - borda arredondada */
    border: 1px solid #27272a; /* border - borda */
    background: #141419; /* background - cor de fundo */
    color: #fafafa;
    outline: none; /* outline - contorno */
    margin-top: 20px;
}

button {
    width: 100%;
    max-width: 640px;
    background: #00e2f7;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 14px;
    cursor: pointer;
    margin-top: 10px; /*top - cime*/ /*bottom - baixo*/ /*left - esquerda*/ /*right - direita*/

}